#EL_HANI {
  width: 250px;
  height: auto;

  
  border: 4px solid red;

  
  animation: bouger 2s infinite alternate;
}


@keyframes bouger {
  from {
    transform: translateX(0px);
    border-color: red;
  }
  to {
    transform: translateX(20px);
    border-color: blue;
  }
}

